body {
	font-family: verdana, sans-serif;
	font-size: 10px;
	text-align: center;
	margin: 0;
	background-color: #ccc;
}

div#left-col {
	float: left;
	text-align: right;
	margin-left: 10px;
}

div#right-col {
	float: right;
	text-align: right;
	margin-right: 6px;
	color: white;
}

div#right-col h1 {
	font-size: 10px;
}

div#right-col h1 {
  margin-top: 1px;
  padding-right: 3px;
  padding-top: 8px;
}

div#right-col p {
	padding-right: 3px;
	margin-top: 0px;
}

div#right-col textarea {
	margin-right: 3px;
	text-align: right;
	background-color: #EFEFEF;
}

div.info-box-content,
div#container {
	color: white;
	background-color: #333;
	/* opacity: 0.97; */
	/* filter: alpha(opacity=97); */ /* For IE8 and earlier */
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.info-box-content {
	padding: 10px 0 10px 10px;
	text-align: center;
	position: relative;
	float: left;
	margin: 0;
}

div.info-box-arrow {
	position: relative;
	padding: 0;
	margin: 12px 0 0 0;
}
span.info-box-arrow-piece {
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	background-color: #333;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}
span.info-box-arrow-10 { height: 19px; }
span.info-box-arrow-9 { height: 17px; }
span.info-box-arrow-8 { height: 15px; }
span.info-box-arrow-7 { height: 13px; }
span.info-box-arrow-6 { height: 11px; }
span.info-box-arrow-5 { height: 9px; }
span.info-box-arrow-4 { height: 7px; }
span.info-box-arrow-3 { height: 5px; }
span.info-box-arrow-2 { height: 3px; }
span.info-box-arrow-1 { height: 1px; }

div#container {
	position: relative;
	text-align: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
}

span.green { color: green; }
span.red { color: red; }

div.info-box-content table,
table#ranking-table {
	font-size: 10px;
	width: 100%;
}

div.info-box-content table tr.black-header-row,
table#ranking-table tr.black-header-row {
	background-color: #333; 
	color: white;
} 

div.info-box-content table tr.even,
table#ranking-table tr.even {
	background-color: #EFEFEF;
}

div.info-box-content table tr.odd,
table#ranking-table tr.odd {
	background-color: white;
}

div.offdef-rank-container {
  padding-bottom: 10px;
}

div.offdef-rank-container table {
  color: white;
  width: 98%;
}

div.offdef-rank-container th {
  text-align: left;
  width: 50%;
  padding-left: 0;
}

div.offdef-rank-container td {
  font-size: 10px;
  padding-left: 0;
  padding-right: 0;
}

div.offdef-rank-container td:first-child,
div.offdef-rank-container td:first-child + td + td {
  width: 1%;
}

table#ranking-table tr.drag-row {
	color: black;
	background-color: #FF6633;
}

table#ranking-table tr.moved {
	background-color: #FFFFB4;
}

table#ranking-table td.rank-cell {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 6px;
}

table#ranking-table td.delta-cell,
table#ranking-table td.avg-cell,
table#ranking-table td.dvoa-cell,
table#ranking-table td.netpts-cell,
table#ranking-table td.streak-cell,
table#ranking-table td.record-cell {
	text-align: center;
}

table#ranking-table td.matchup-cell {
	padding-right: 6px;
}

table#ranking-table td.team-cell {
	/*
	background-image: url(/images/logo-nfl-teams-medium-vert-2.png);
	background-repeat: no-repeat;
	padding-left: 28px;
	*/
	padding-right: 8px;
}

select#week-select {
	color: white;
	background-color: #333;
	font-size: 10px;
	font-weight: bold;
	font-family: verdana, sans-serif;
	margin: 0 0 2px -2px;
	border: 0;
}

div#button-container {
	padding-top: 8px;
}

div#button-container input,
input#copy-button {
	font-family: verdana, sans-serif;
	font-size: 10px;
}

div#button-container input#save-button,
div#button-container input#reset-button {
	float: right;
	margin-left: 6px;
	margin-right: -1px;
}

input#copy-button {
  float: right;
  margin-top: 4px;
  margin-right: 6px;
}

div#button-container input#toggle-avg-button,
div#button-container input#toggle-dvoa-button {
	float: left;
}

div#button-container input#toggle-dvoa-button {
	margin-left: 6px;
}

div#button-container div#status {
	color: white;
	float: right;
	padding-top: 3px;
	margin-right: 2px;
}

div#footer {
  padding-top: 10px;
	padding-bottom: 5px;
  font-size: 10px;
	text-align: center;
  color: white;
}

div#footer a {
  text-decoration: none;
  color: white;
}

div#footer a:hover {
  text-decoration: none;
  color: white;
}

a.clickable-header,
a.clickable-header:hover,
a.clickable-header:visited {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

img#bg { position: fixed; top: 0; left: 0; }
img.bgwidth { width: 100%; }
img.bgheight { height: 100%; }

/*
table#ranking-table td#ARI { background-position: 2px 1px; }
table#ranking-table td#ATL { background-position: 2px -19px; }
table#ranking-table td#BAL { background-position: 2px -39px; }
table#ranking-table td#BUF { background-position: 2px -60px; }
table#ranking-table td#CAR { background-position: 2px -80px; }
table#ranking-table td#CHI { background-position: 2px -101px; }
table#ranking-table td#CIN { background-position: 2px -121px; }
table#ranking-table td#CLE { background-position: 2px -142px; }
table#ranking-table td#DAL { background-position: 2px -162px; }
table#ranking-table td#DEN { background-position: 2px -181px; }
table#ranking-table td#DET { background-position: 2px -202px; }
table#ranking-table td#GBP { background-position: 2px -222px; }
table#ranking-table td#HOU { background-position: 2px -242px; }
table#ranking-table td#IND { background-position: 2px -263px; }
table#ranking-table td#JAC { background-position: 2px -283px; }
table#ranking-table td#KCC { background-position: 2px -302px; }
table#ranking-table td#MIA { background-position: 2px -323px; }
table#ranking-table td#MIN { background-position: 2px -343px; }
table#ranking-table td#NEP { background-position: 2px -364px; }
table#ranking-table td#NOS { background-position: 2px -384px; }
table#ranking-table td#NYG { background-position: 2px -405px; }
table#ranking-table td#NYJ { background-position: 2px -425px; }
table#ranking-table td#OAK { background-position: 2px -445px; }
table#ranking-table td#PHI { background-position: 2px -466px; }
table#ranking-table td#PIT { background-position: 2px -486px; }
table#ranking-table td#SDC { background-position: 2px -507px; }
table#ranking-table td#SFO { background-position: 2px -526px; }
table#ranking-table td#SEA { background-position: 2px -545px; }
table#ranking-table td#STL { background-position: 2px -567px; }
table#ranking-table td#TBB { background-position: 2px -587px; }
table#ranking-table td#TEN { background-position: 2px -607px; }
table#ranking-table td#WAS { background-position: 2px -626px; }
*/